spring:
  datasource:
    dynamic:
      primary: primary
      datasource:
        primary:
          type: com.alibaba.druid.pool.DruidDataSource
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://localhost:3306/my-game?useUnicode=true&characterEncoding=utf8&useSSL=false
          username: root
          password: root
  sharding-sphere:
    enabled: true

    datasource:
      # 数据源名称，多数据源以逗号分隔
      names: ds1
      ds1:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/my-game2?useUnicode=true&characterEncoding=utf8&useSSL=false
        username: root
        password: root

    sharding:
      tables:
        t_user:
          actual-data-nodes: ds1.t_user_$->{0..1}
          table-strategy:
            inline:
              sharding-column: isUse
              algorithm-expression: t_user_$->{isUse}
    props:
      sql-show: true